/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/behaviors.h>
#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi>
#include <behaviors/num_word.dtsi>



#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000 

#include <dt-bindings/zmk/pointing.h>

#define A_ACUTO &kp LALT &kp A
#define E_ACUTO &kp LALT &kp E
#define U_ACUTO &kp LALT &kp U
#define I_ACUTO &kp LALT &kp I
#define O_ACUTO &kp LALT &kp O

&num_word {
  continue-list = <LPAR RPAR EQUAL SLASH MINUS ASTRK PLUS PRCNT COMMA DOT>;
};

&mt {
    tapping-term-ms = <130>; // This is the value already set by default
};

/ {
    macros {
        Passpc: Passpc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N3 &kp N1 &kp N1>;
            label = "PASSPC";
        };

        Passfirma: Passfirma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N7 &kp N3 &kp N0 &kp N0 &kp N2 &kp N0 &kp N9 &kp N9>;
            label = "PASSFIRMA";
        };
    };
};

/ {
    macros {
        // Macro per la 'è' (accento grave): preme l'accento e poi la 'e'
        it_e_grave: it_e_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
        };

        // Macro per la 'à'
        it_a_grave: it_a_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp A>;
        };

        // Macro per la 'à'
        it_u_grave: it_u_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp U>;
        };
        // Aggiungi qui altre vocali seguendo lo stesso schema

        // Macro per la 'à'
        it_i_grave: it_i_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp I>;
        };

        // Macro per la 'à'
        it_o_grave: it_o_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp O>;
        };

        // Macro per la 'à'
        it_quote_grave: it_quote_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp APOS>;
        };

        // Macro per la 'à'
        it_dquote_grave: it_dquote_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp DQT>;
        };
    };
};


/ {
  behaviors {
    nav_word: nav_word {
      compatible = "zmk,behavior-auto-layer";
      #binding-cells = <1>;
        continue-list = <LEFT DOWN UP RIGHT PG_DN PG_UP>;
      ignore-modifiers;
    };
  };
};

/ {
  behaviors {
    mau_word: mau_word {
      compatible = "zmk,behavior-auto-layer";
      #binding-cells = <1>;
        continue-list = <SCRL_UP MOVE_LEFT MOVE_UP MOVE_DOWN MOVE_RIGHT SCRL_DOWN RCLK MCLK LCLK>;
      ignore-modifiers;
    };
  };
};

/ {
  behaviors {
    sym_word: sym_word {
      compatible = "zmk,behavior-auto-layer";
      #binding-cells = <1>;
        continue-list = <LBKT RBKT LBRC RBRC BSLH AT DLLR POUND AMPERSAND>;
      ignore-modifiers;
    };
  };
};


/ {
  behaviors {
    ita_word: ita_word {
      compatible = "zmk,behavior-auto-layer";
      #binding-cells = <1>;
        continue-list = <it_a_grave it_e_grave it_u_grave it_i_grave it_o_grave it_quote_grave it_dquote_grave>;
      ignore-modifiers;
    };
  };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp BSPC>;
        };

        combo_space {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp SPACE>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <33 34>;
            bindings = <&kp ENTER>;
        };

        combo_del {        
            timeout-ms = <50>;  
            key-positions = <27 28>;
            bindings = <&kp DEL>;
        };

        combo_esc {        
            timeout-ms = <50>;  
            key-positions = <28 29>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp TAB>;
        };

        combo_maus {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp C_AC_REDO>;
        };

        combo_nav {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp C_AC_UNDO>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <           
&none   &none    &kp  W    &kp E     &kp  R        &kp  T                                                                        &kp  Y        &kp U       &kp I       &kp  O     &none         &none 
&kp Q   &kp  A   &kp  S    &kp  D    &kp  F        &kp  G                                                                        &kp  H        &mt LPAR J  &mt RPAR K  &kp  L     &kp  P        &nav_word 1   
&none   &kp  Z   &kp  X    &kp  C    &kp  V        &kp  B     &kp C_AL_CALC                                      &kp  PSCRN      &kp  N        &kp M       &kp COMMA   &kp  DOT   &mau_word 3   &none           
                                     &kp LGUI      &sk LCTRL  &sk LSHIFT    &num_word 2            &caps_word    &ita_word 5     &sym_word 4   &kp LALT  
           >;
                       
       };

        nav_layer {
            display-name = "muovi fun";
            bindings = <
&none       &none         &kp  F2       &kp  F3       &kp  F4       &kp  F5                                                                     &kp   F6        &kp  F7         &kp   F8       &kp   F9      &none         &none
&trans      &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp  LSHFT    &trans                                                                      &kp   PG_UP     &kp  LEFT       &kp   UP       &kp  RIGHT    &kp PG_DN     &trans
&none       &none         &trans        &trans        &trans        &trans        &trans                                             &trans     &trans          &trans          &trans         &trans        &trans        &none
                                                      &trans        &trans        &trans        &trans                     &kp DOWN  &trans     &trans          &trans
           >;

                        
       };

        num_layer {
            display-name = "numeri";
            bindings = <
&none       &none         &kp  KP_N7    &kp  KP_N8    &kp  KP_N9   &kp  SLASH                                                                  &trans    &trans   &trans   &trans   &none     &none
&kp  ASTRK  &kp  PLUS     &kp  KP_N4    &kp  KP_N5    &kp  KP_N6   &kp  MINUS                                                                  &trans    &trans   &trans   &trans   &trans    &trans
&none       &kp  PRCNT    &kp  KP_N1    &kp  KP_N2    &kp  KP_N3   &kp  UNDER     &kp  EQUAL                                            &trans      &trans    &trans   &trans   &trans   &trans    &none  
                                                     &kp  EQUAL   &kp ENTER      &kp COMMA    &kp KP_N0                &trans     &trans     &trans     &trans
           >;

                        
        };

        mau_layer {
            display-name = "mouse";
            bindings = < 
&trans      &trans     &trans         &trans         &trans        &trans                                                                &trans           &trans           &trans          &trans            &none             &none 
&trans      &trans     &mkp  RCLK     &mkp MCLK      &mkp LCLK     &trans                                                                &msc   SCRL_UP   &mmv  MOVE_LEFT  &mmv   MOVE_UP  &mmv  MOVE_RIGHT  &msc SCRL_DOWN     &trans
&trans      &trans     &trans         &trans         &trans        &trans      &trans                                      &trans        &trans           &trans           &trans          &trans            &trans             &none            
                                                     &trans        &trans      &trans    &trans          &mmv   MOVE_DOWN  &trans        &trans        &trans
           >;

                        
       };


        sym_layer {
            display-name = "simmedia";
            bindings = <
&trans     &trans        &trans         &trans       &trans      &trans                                                                  &kp  LBKT  &kp  RBKT   &kp  LBRC         &kp  RBRC          &none        &none
&trans     &kp C_VOL_DN  &kp C_VOL_UP   &kp  C_MUTE  &kp  C_PP   &trans                                                                  &kp  BSLH  &kp  AT     &kp  F4           &kp  DLLR          &kp  POUND    &kp AMPERSAND
&trans     &trans        &trans         &trans       &trans      &trans     &trans                                           &trans      &Passpc    &Passfirma  &mt QMARK  EXCL   &mt SEMI  COLON    &trans        &none 
                                                     &trans      &trans     &trans   &trans                       &trans     &trans      &trans     &trans
           >;

                          
        };

        italia_layer {
            display-name = "italia";
            bindings = <
&trans     &trans            &trans    &it_e_grave    &trans   &trans                                                                           &trans     &it_u_grave        &it_i_grave    &it_o_grave     &none    &none
&trans     &it_a_grave     &trans    &trans                      &trans   &trans                                                                &trans     &it_quote_grave      &it_dquote_grave    &trans  trans    &trans
&trans     &trans            &trans    &trans                      &trans   &trans     &trans                                           &trans     &trans     &trans   &trans  &trans   &trans &none
                                                                   &trans   &trans     &trans   &trans                       &trans     &trans     &trans     &trans
           >;

                        
        };
    };
}; 


